<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <display-name>Archetype Created Web Application</display-name>
    <servlet>
      <servlet-name>wxbGoodServlet</servlet-name>
      <servlet-class>com.qianfeng.servlet.WxbGoodServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>wxbGoodServlet</servlet-name>
      <url-pattern>/goods.do</url-pattern>
    </servlet-mapping>
</web-app>
